CalcWebServer1-SOAP/WSCalc1.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="wsCalc">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://gf.dis.eafit.edu.co:80/lalvar16WsCalc1/wsCalc?xsd=1"/>
</xsd:schema>
</types>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion"/>
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<portType name="wsCalc">
<operation name="suma">
<input wsam:Action="http://ws/wsCalc/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://ws/wsCalc/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://ws/wsCalc/restaRequest" message="tns:resta"/>
<output wsam:Action="http://ws/wsCalc/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="multiplicacion">
<input wsam:Action="http://ws/wsCalc/multiplicacionRequest" message="tns:multiplicacion"/>
<output wsam:Action="http://ws/wsCalc/multiplicacionResponse" message="tns:multiplicacionResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://ws/wsCalc/divisionRequest" message="tns:division"/>
<output wsam:Action="http://ws/wsCalc/divisionResponse" message="tns:divisionResponse"/>
</operation>
</portType>
<binding name="wsCalcPortBinding" type="tns:wsCalc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="wsCalc">
<port name="wsCalcPort" binding="tns:wsCalcPortBinding">
<soap:address location="http://gf.dis.eafit.edu.co:80/lalvar16WsCalc1/wsCalc"/>
</port>
</service>
</definitions>